img {
  max-height: 400px;
  width: auto;
  padding: 25px
}
.title {
    margin-top: 40px;
}
center-me {
  position = relative;
  margin: 0 auto;
}
.folder {
  max-height: 100px;
  width:auto;
}
table { margin: auto; }
a {
  font-weight: 600;
  font-size: 25px;
}

.index { 
  font-weight: 600;
  font-size: 25px;
}
.thumbnail {
  box-shadow: 3px 3px 5px 6px #ccc;
  padding: 0px;
  margin: 25px;
}
p {
  font-weight: lighter;
}
